.main-menu {
    position: relative;
    width: 100%;
    padding: .5em 1.5em;
    background: var(--menu-color);
    display: flex;
    align-items: center;


    &__icon {
        width: 45px;
        height: 45px;

        div {
            width: 100%;
            height: 100%;

            svg {
                width: 100%;
                height: 100%;
                fill:var(--first-text);
            }
        }
    }

    &__title {
        padding: 0;
        margin: .5em;
        font-family: 'Rubik', sans-serif;
        color:var(--first-text);
    }
}