.badge {
    position: relative;
    border-radius: 20px;
    padding: 0.3em 1em;
    color:#fca311;
    background: rgba(252, 163, 17, .15);
    font-size: 13px;
    margin-bottom: 0.5em;

    $self: badge;

    &--danger {
        color:#e63946;
        background: rgba(230, 55, 70, .15);
    }

    &__container {
        display: flex;
        flex-wrap: wrap;

        .badge + .badge {
            margin-left: .5em;
        }
    }
}