.form {
    position: relative;
    width: 100%;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    padding: 1em;
    background: white;
    margin-top: 1em;

    $self: form;

    &__input {
        input {
            width: 100%;
        }

        input + input {
            margin-top: 1em;
        }
    }

    &__buttons {
        display: flex;
        align-items: center;
        
        button {
            margin-right: 1em;
        }
    }

    &__link-back {
        margin-left: auto;
    }
}